@font-face {
    font-family: "OngleapGwiyomiStandard";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGwiyomiStandard/OngleapGwiyomiStandard.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGwiyomiStandard/OngleapGwiyomiStandard.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGwiyomiStandard/OngleapGwiyomiStandard.ttf") format("truetype");
    font-display: swap;
}

.OngleapGwiyomiStandard {
    font-family: "OngleapGwiyomiStandard";
}
